div.comment-form {
  // border: 1px solid orange;
  display: flex;
  width: 100%;
  margin-top: 10px;


  .comment-form-avatar {
    // border: 1px solid gray;
    margin: 8px 15px auto 28px;

    img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
    }
  }

  .comment-form-right {
    // border: 1px solid gray;
    padding: 6px 15px 0 6px;
    width: 100%;

    .comment-form-input {
      // border: 1px solid magenta;
      // box-sizing: border-box;
      label {
        font-size: 14px;
      }

      textarea {
        box-sizing: border-box;
        margin-top: 10px;
        resize: none;
        min-height: 90px;
        width: 100%;
        font-family: 'Montserrat', sans-serif;
        overflow: hidden;
        border-radius: 3px;
        padding: 10px;
        // border: 1px solid grey;
        border: 1px solid #008ddf;

        &:placeholder-shown {
          border: 1px solid grey;
        }

        &:focus {
          outline: none;
          border: 1px solid #008ddf;
        }
      }

      #create-comment-errors {
        border: 1px solid red;
        animation: shake 0.5s;
      }

      @keyframes shake {
        10%, 90% {
          transform: translate3d(-1px, 0, 0);
        }

        20%, 80% {
          transform: translate3d(2px, 0, 0);
        }

        30%, 50%, 70% {
          transform: translate3d(-4px, 0, 0);
        }

        40%, 60% {
          transform: translate3d(4px, 0, 0);
        }
      }

    }

    .comment-form-button {
      // border: 1px solid magenta;
      display: flex;
      justify-content: flex-end;
      padding: 8px 0 0 0;

      button {
        background: #008ddf;
        padding: 0 20px;
        height: 35px;
        font-size: 14px;
        border-radius: 4px;
        color: white;
        font-weight: 500;
        width: 120px;

        &:hover {
          background: #1394e4;
        }

        &:active {
          border: 2px solid #005c96;
        }

        &:hover {
          background: #1d98df;
        }

      }
    }

    textarea:placeholder-shown + .comment-form-button {
      display: none;
    }

    textarea:focus + .comment-form-button {
      display: flex;
    }

  }
}
