div.explore-index {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 125px auto;
}

div.explore-index-item {
  flex-grow: 1;
  margin: 2px;
  position: relative;
  line-height: 0;

  img {
    max-height: 250px;
    min-width: 100%;
    object-fit: cover;
    z-index: -1;
  }

  div.photo-hover-details {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: transparent;
    font-size: 14px;
    line-height: 1.5;

    .photo-click-link {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      cursor: pointer;
    }

    .photo-title {
      white-space: nowrap;
      width: 65%;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 5px 10px;
    }

    .photo-likes {
      display: flex;
      text-align: right;
      margin: 5px 10px;
      z-index: 1;

      button {
        background: transparent;
        color: transparent;
        font-size: 18px;

        div {
          display: flex;
          p {
            margin-left: 5px;
            font-size: 14px;
          }
        }
      }

    }
  }

  div.photo-hover-details:hover {
    color: white;
    background: linear-gradient(0deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.3) 25%, rgba(0,0,0,0) 100%);

    button.liked, button.not-liked {
      color: white;
    }

    button.faded {
      color: rgb(187, 187, 187);
      cursor: default;
    }
  }
}

div.explore-index-item {
  &:last-child {
    flex-grow: unset;
  }

  &:nth-last-child(2) {
    flex-grow: unset;
  }
}

@media screen and (max-width: 650px) {
  div.explore-index-item {
    &:last-child {
      flex-grow: 1;
    }

    &:nth-last-child(2) {
      flex-grow: 1;
    }

    max-width: 460px;
    min-width: 460px;

    img {
      max-width: 460px;
      min-width: 460px;
    }
  }

  div.photo-hover-details {
    max-width: 460px;
    min-width: 460px;
  }

  div.explore-index {
    width: 100%;
    justify-content: center;
    margin: 85px auto;
  }

  div.user-photos-index-items {
    width: 100%;
    justify-content: center;
    margin: 85px auto;
  }
}
