div.photo-show {
  margin-top: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:  #212124f1;
  height: 782px;

  img {
    // padding: 50px;
    height: 85%;
    margin: auto;
  }
}
