header.global-nav-not-root{
  background: #212124;
  height: 48px;
  #global-nav-logo h2 {
    font-size: 30px;
    .iconify {
      font-size: 30px;
    }
  }
}

.cloud-upload-icon {
  font-size: 40px;
  margin-left: 20px;

  &:hover {
    color: rgb(218, 218, 218);
  }
}

.top-nav-explore {
  margin-right: 20px;
  font-weight: 500;
  font-size: 15px;

  &:hover {
    color: rgb(218, 218, 218);
  }
}
