div.splash-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -2;
  background: #212727;
}

@keyframes slidedown {
  0%   {top:-400px;}
  100% {top:-56px;}
}

// @keyframes photo-carousel {
//   0%   {background-image: url("splash0")}
//   20%  {background-image: url("splash1")}
//   40%  {background-image: url("splash2")}
//   60%  {background-image: url("splash3")}
//   80%  {background-image: url("splash4")}
//   100% {background-image: url("splash0")}
// }

// div.splash-bg-img {
//   position: absolute;
//   bottom: 56px;
//   width: 100%;
//   height: 100%;
//   animation-name: slidedown, photo-carousel;
//   animation-duration: 0.5s, 25s;
//   animation-iteration-count: 1, infinite;
//   background-position: 50%;
//   background-repeat: no-repeat;
//   background-size: cover;
//   z-index: auto;
// }

div.splash-bg-img {
  position: absolute;
  bottom: 56px;
  width: 100%;
  height: 100%;
  animation-name: slidedown;
  animation-duration: 1s;
  animation-iteration-count: 1;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: auto;
}

