.photo-info-top {

  .follow-button {
    // border: 1px solid magenta;
    margin-left: 20px;
    width: 140px;

    button.follow {
      background: #008ddf;
      padding: 0 15px;
      height: 35px;
      font-size: 14px;
      border-radius: 4px;
      font-weight: 600;
      color: white;
      padding-right: 20px;
      width: 110px;

      &:hover {
        background: #329fdf;
      }

      &:active {
        background: #0076bb;
        border: 2px solid #005688;
      }
    }

    button.following {
      color: #008ddf;
      border: 1px solid #008ddf;
      padding: 0 15px;
      height: 35px;
      font-size: 14px;
      border-radius: 4px;
      font-weight: 600;
      background: white;
      padding-right: 20px;
      width: 130px;

      &:hover {
        color: #329fdf;
        border: 1px solid #329fdf;

        div {
          display: none;
        }

        &::before {
          content: '✖ Unfollow';
        }
      }

      &:active {
        color: #258ac5;
        border: 2px solid #1e7fb8;

        div {
          display: none;
        }

        &::before {
          content: '✖ Unfollow';
        }
      }
    }
  }
}
